<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style-reset.css" />
    <link rel="stylesheet" href="../../css/admin-panel.css" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <title>Admin Panel</title>
</head>

<body>
    <header class="bg-primary">
        <div class="logo-box bg-secondary">
            <img src="../media/teyake_white_fill.png" alt="Teyake Logo" class="logo" />
        </div>
        <div class="nav-right">

            </a>
            <a href="../index.php?action=logout" class="transition" id="logout">Log Out</a>
        </div>
    </header>


    <main>
        <nav class="sidebar bg-primary">
            <div class="nav-list">
                <ul>
                    <li class="list-item active">
                        <a href="#">General Stats</a>
                    </li>
                    <li class="list-item"><a href="#">Examiners</a></li>
                    <li class="list-item"><a href="#">Examinees</a></li>
                    <li class="list-item"><a href="#">Exams</a></li>
                    <li class="list-item"><a href="#">Requests</a></li>
                </ul>
            </div>
        </nav>
        <div class="page dashboard-home">
            <h1>Admin Panel</h1>
            <div class="stat-container">

                <div class="stat-card">
                    <svg xmlns="http://www.w3.org/2000/svg" class="account transition" viewBox="0 0 512 512">
                        <title>Person Circle</title>
                        <path
                            d="M258.9 48C141.92 46.42 46.42 141.92 48 258.9c1.56 112.19 92.91 203.54 205.1 205.1 117 1.6 212.48-93.9 210.88-210.88C462.44 140.91 371.09 49.56 258.9 48zm126.42 327.25a4 4 0 01-6.14-.32 124.27 124.27 0 00-32.35-29.59C321.37 329 289.11 320 256 320s-65.37 9-90.83 25.34a124.24 124.24 0 00-32.35 29.58 4 4 0 01-6.14.32A175.32 175.32 0 0180 259c-1.63-97.31 78.22-178.76 175.57-179S432 158.81 432 256a175.32 175.32 0 01-46.68 119.25z">
                        </path>
                        <path
                            d="M256 144c-19.72 0-37.55 7.39-50.22 20.82s-19 32-17.57 51.93C191.11 256 221.52 288 256 288s64.83-32 67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39 151.44 275.59 144 256 144z">
                        </path>
                    </svg>
                    <p>Students - <span id="studCount">3</span></p>
                </div>
                <div class="stat-card">
                    <svg xmlns="http://www.w3.org/2000/svg" class="account transition" viewBox="0 0 512 512">
                        <title>Person Circle</title>
                        <path
                            d="M258.9 48C141.92 46.42 46.42 141.92 48 258.9c1.56 112.19 92.91 203.54 205.1 205.1 117 1.6 212.48-93.9 210.88-210.88C462.44 140.91 371.09 49.56 258.9 48zm126.42 327.25a4 4 0 01-6.14-.32 124.27 124.27 0 00-32.35-29.59C321.37 329 289.11 320 256 320s-65.37 9-90.83 25.34a124.24 124.24 0 00-32.35 29.58 4 4 0 01-6.14.32A175.32 175.32 0 0180 259c-1.63-97.31 78.22-178.76 175.57-179S432 158.81 432 256a175.32 175.32 0 01-46.68 119.25z">
                        </path>
                        <path
                            d="M256 144c-19.72 0-37.55 7.39-50.22 20.82s-19 32-17.57 51.93C191.11 256 221.52 288 256 288s64.83-32 67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39 151.44 275.59 144 256 144z">
                        </path>
                    </svg>
                    <p>Exams - <span id="examCount">2</span></p>
                </div>
                <div class="stat-card">
                    <svg xmlns="http://www.w3.org/2000/svg" class="account transition" viewBox="0 0 512 512">
                        <title>Person Circle</title>
                        <path
                            d="M256 144c-19.72 0-37.55 7.39-50.22 20.82s-19 32-17.57 51.93C191.11 256 221.52 288 256 288s64.83-32 67.79-71.24c1.48-19.74-4.8-38.14-17.68-51.82C293.39 151.44 275.59 144 256 144z">
                        </path>
                    </svg>
                    <p>Average Score - <span id="avgScore">1</span></p>
                </div>
            </div>

        </div>

        <div class="page exam-list hidden" style="width: 100%;">
            <div class="center-content">

                <table style="height: 300px; overflow:scroll;">
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>E-mail</th>
                        <th>Sex</th>
                        <!-- <th>Department</th>
                        <th>Institution</th> -->
                        <th>Phone Number</th>
                    </tr>
                    <% 
                    if(dataExaminer.length > 0){
                        dataExaminer.forEach(function(dataExaminer){
                    %>
                     <tr>
                        <td><%= dataExaminer.ID %></td>
                        <td><%= dataExaminer.FullName %></td>
                        <td><%= dataExaminer.Email %></td>
                        <td><%= dataExaminer.Sex %></td>
                        <td><%= dataExaminer.PhoneNo %></td>
                        </tr>
                       
                        
                    <%
                      });
                    }
                    else{
                    %>
                   <tr>
                    <td colspan="6">No Data Found</td>
                    </tr>
                    <% } %>
                </table>
                <!-- <form action="" method="POST"> -->
                <div class="btn-container">
                    <a href="/pages/exportCSV" class="bg-primary text-white transition report-btn">Export
                        Record</a>
                        <form action="" method="POST" enctype="multipart/form-data" >	
                            
								<input type="file" class="input"  
										name="csvFile" id="csvFile">

<% 
							if(typeof msg != 'undefined' && msg != "")
							{ 
							%>
								<div class="col-12">
									<div class="success-msg">
										<%= msg %>
									</div>									
								</div>
							<% 
							}
									
							if(typeof error !== 'undefined' && error != "")
							{ 
							%>
								<div class="col-12">
									<div class="err-msg">
										<%= error %>
									</div>									
								</div>
							<% 
							} 
							%>
							
						
                            <input type="submit" class="bg-primary text-white transition report-btn" value="Import Record">
                                        </form>

                </div>
                
                <!-- </form> -->
            </div>
        </div>

        <div class="page add-exam-container hidden" style="width: 100%;">
            <div class="center-content">

                <table>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>E-mail</th>
                        <th>Sex</th>
                        <th>Section</th>
                        
                        <th>Score</th>
                        

                    </tr>
                </tr>
                    <% 
                    if(dataExaminee.length > 0){
                        dataExaminee.forEach(function(dataExaminee){
                    %>
                     <tr>
                        <td><%= dataExaminee.ID %></td>
                        <td><%= dataExaminee.FullName %></td>
                        <td><%= dataExaminee.Email %></td>
                        <td><%= dataExaminee.Sex %></td>
                        <td><%= dataExaminee.Section %></td>
                        <td><%= dataExaminee.Sex %></td>
                        <td><%= dataExaminee.PhoneNo %></td>
                        </tr>
                       
                        
                    <%
                      });
                    }
                    else{
                    %>
                   <tr>
                    <td colspan="6">No Data Found</td>
                    </tr>
                    <% } %>
                </table>
                <!-- <form action="" method="POST"> -->
                <div class="btn-container">
                    <a href="/pages/exportCSVExaminee" class="bg-primary text-white transition report-btn">Export
                        Record</a>
                        <form action="" method="POST" enctype="multipart/form-data" >	
                            
								<input type="file" class="input"  
										name="csvFileExaminee" id="csvFile"><% 
							if(typeof msg != 'undefined' && msg != "")
							{ 
							%>
								<div class="col-12">
									<div class="success-msg">
										<%= msg %>
									</div>									
								</div>
							<% 
							}
									
							if(typeof error !== 'undefined' && error != "")
							{ 
							%>
								<div class="col-12">
									<div class="err-msg">
										<%= error %>
									</div>									
								</div>
							<% 
							} 
							%>
							
						
							<input type="submit" class="bg-primary text-white transition report-btn" value="Import Record">
						
                                        </form>
                </div>
                
                <!-- </form> -->
            </div>
        </div>


        <div class="results-page flex flex-col items-center hidden" style="width: 100%;">
            <div class="center-content">

                <table>
                    <tr>

                        <th>Exam Name</th>
                        
                        <th>Status</th>
                        <th>Duration</th>
                        <th>Date</th>

                    </tr>

                </tr>
                    <% 
                    if(dataExam.length > 0){
                        dataExam.forEach(function(dataExam){
                    %>
                     <tr>
                        <td><%= dataExam.Name %></td>
                        <td><%= dataExam.Status %></td>
                        <td><%= dataExam.Duration %></td>
                        <td><%= dataExam.Date %></td>
                        
                        </tr>
                       
                        
                    <%
                      });
                    }
                    else{
                    %>
                   <tr>
                    <td colspan="6">No Data Found</td>
                    </tr>
                    <% } %>
                  
                </table>
                <!-- <form action="" method="POST"> -->
                <div class="btn-container">

                    <a href="/pages/exportCSVExam" class="bg-primary text-white transition report-btn">Export Record</a>
                    <form action="" method="POST" enctype="multipart/form-data" >	
                            
								<input type="file" class="input"  
										name="csvFileExam" id="csvFile"><% 
							if(typeof msg != 'undefined' && msg != "")
							{ 
							%>
								<div class="col-12">
									<div class="success-msg">
										<%= msg %>
									</div>									
								</div>
							<% 
							}
									
							if(typeof error !== 'undefined' && error != "")
							{ 
							%>
								<div class="col-12">
									<div class="err-msg">
										<%= error %>
									</div>									
								</div>
							<% 
							} 
							%>
							
						
                            <input type="submit" class="bg-primary text-white transition report-btn" value="Import Record">

						
                                        </form>
                </div>
             
                <!-- </form> -->
            </div>
        </div>

        <div class="required-page flex flex-col items-center hidden" style="width: 100%;">
            <div class="search-filter">
                <div class="custom-select">
                    <select name="" id="">
                        <option value="">Department</option>
                        <option value="">Institution</option>
                    </select>
                </div>


            </div>
            <div class="required-view">
                <div class="center-content">


                    <table class="required-table">
                        <thead>

                            <th>Requested Entry</th>
                            <th>Action</th>
                        </thead>
                        
                    </table>


                    <!-- </form> -->
                </div>
                <div class="center-content">



                    <table class="required-table">
                        <thead>

                            <th>Department ID</th>
                            <th>Action</th>
                        </thead>
                     
                    </table>

                    <!-- </form> -->
                </div>
            </div>
        </div>
    </main>
</body>

<script src="../../js/admin-panel.js" type="module"></script>

</html>